<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вхід до системи</title>
    <script>
        (function() {
            // застосування теми з localStorage
            try {
                var theme = localStorage.getItem('theme');
                if (theme === 'light') {

                    document.documentElement.classList.add('light-theme');
                }

            } catch (e) {
                console.error("Помилка застосування теми з localStorage", e);
            }
        })();
    </script>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/theme-switcher.js}" defer></script>
</head>
<body>
<div class="login-container">
    <a th:href="@{/}" class="back-link">&larr; На головну</a> <h2>Вхід до системи</h2>
    <hr/>

    <div th:if="${param.error}" class="error-message">
        Неправильна пошта або пароль.
    </div>
    <div th:if="${param.logout}" class="error-message" style="color: #03DAC6;"> Ви успішно вийшли з системи.
    </div>


    <form action="#"
          th:action="@{/login}" method="POST">
        <div class="form-group">
            <label for="email">Пошта</label>
            <input id="email" type="email" name="email" placeholder="Ваша пошта" required autofocus/>
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <input id="password" type="password" name="password" placeholder="Ваш пароль" required/>
        </div>

        <button type="submit">Увійти</button>

        <div class="form-links">
            <span>Немає акаунту?</span>
            <a th:href="@{/register}">Зареєструватися</a>
        </div>
    </form>
</div>
</body>
</html>