<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error</title>
    <script>
        // застосування теми з localStorage
        (function() {
            try {
                var theme = localStorage.getItem('theme');
                if (theme === 'light') {

                    document.documentElement.classList.add('light-theme');
                }

            } catch (e) {
                console.error("Помилка застосування теми з localStorage", e);
            }
        })();
    </script>
    <script th:src="@{/js/theme-switcher.js}" defer></script>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="error-page"> <div class="animated-container">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
</div>
<div class="text-container">
    <h1>Помилка</h1>
    <p>Зверніться до Адміна, або перевірте чи ви авторизовані!</p>
    <a th:href="@{/}">Home</a>
    <hr />
</div>
</body>
</html>
